*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face{
    font-family: bunch-blossoms;
    src: url(fonts/BunchBlossoms.ttf);
}

.backdrop{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.1)), url(background.jpg); 
    background-size: cover;
    background-position: center;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 200px;
    cursor: pointer;
    filter: invert(100%);
    padding-left: 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #f2f540;
    position: absolute;
    left: 0;
    bottom:-10px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width:100%;
    position: absolute;
    top: 31%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 80px;
    margin-top: 5%;
    font-family: bunch-blossoms;
}

.fb-button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.ig-button{
    width: 200px;
    padding: 15px 0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
}
.fb-button:hover{
    color: #fff;
    background-color: #4267B2;
}
.ig-button:hover{
    color: #fff;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}